<style>
</style>

<script type="text/javascript">
  document.execCommand("defaultParagraphSeparator", false, "br");
</script>
<div class="ant-scene-toolbox">
  <input type="text" />
  <i class="ant-ii-save" (click)="saveScene()" title="Сохранить сцену"></i>
  <i class="ant-ii-insert-text" (click)="pastText($event)" title="Вставить текст"></i>
  <i class="ant-ii-insert-image" title="Вставить картинку"></i>
</div>
<div class="scene-editor" id="scene-editor" dropzone="images"
     (keydown)="draggableMove($event)"
     (dblclick)="draggableTextDoubleClick($event)"
     (drop)="draggableDrop($event)"
     (dragover)="$event.preventDefault()"
     (dragstart)="draggableStart($event)">
</div>
