<div class="image-combobox">
  <input type="text" (keyup)="filterImageChanged($event.target.value)" (focus)="filterImageOpenList()"  [value]="filterPattern" placeholder="Название картинки" />
  <div class="image-combobox-list" [style.visibility]="filterListOpened ? 'visible' : 'hidden'">
    <div class="image-combobox-image" *ngFor="let info of filteredImages">
      <img [attr.src]="info.url" />
      <i (click)="pastImage($event.target.previousSibling)" class="ant-ii-past" style="position:absolute; bottom:2px; right:10px; height:20px;" title="Вставить"></i>
    </div>
  </div>
</div> 
