@font-face {
    font-family: "remixicon";
    src: 
    url("remixicon.woff2?t=1590207869815") format("woff2"), url("remixicon.woff?t=1590207869815") format("woff"), url('remixicon.ttf?t=1590207869815') format('truetype'); 
    font-display: swap;
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("fa-solid-900.woff2") format("woff2"), url("fa-solid-900.woff") format("woff"), url("fa-solid-900.ttf") format("truetype"), url("fa-solid-900.svg#fontawesome") format("svg");
}


[class^="ant-i-"], [class*=" ant-i-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="ant-ii-"], [class*=" ant-ii-"] {
    font-family: 'Font Awesome 5 Free' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




.ant-tool-panel {
    height: 100%;
    position: absolute;
    left: 0px;
    width: 200px;
    background-color: #F2F2F2;
    border:1px solid gray;
    box-sizing:border-box;
}

.ant-center-panel {
    height: 100%;
    position: absolute;
    left: 200px;
    right: 200px;
    background-color: #c1bbbb;
    box-sizing: border-box;
    border:1px solid gray;
    overflow:auto;
    
}
.ant-center-panel > div{
    margin:5px;
    padding: .5in .5in .5in .5in;     
    background-color:white;
    position:relative;
    width: 21cm;
    min-height: 29.7cm;
    text-align:start;
}





.ant-i-insert-column-left:after {
    content: "\ee61";
    color:#3abfc3;
}
.ant-i-insert-column-right:before {
    content: "\ee62";
    color: #3abfc3;
}
.ant-i-insert-row-bottom:after {
    content: "\ee63";
    color: #3abfc3;
}

.ant-i-insert-row-top:before {
    content: "\ee64";
    color: #3abfc3;
}

.ant-i-merge-top-row:before {
    content: "\ea29";
    color: #3abfc3;
}
.ant-i-merge-bottom-row:before {
    content: "\ea24";
    color: #3abfc3;
}
.ant-i-merge-left-cell:before {
    content: "\ee54";
    color: #3abfc3;
}

.ant-i-merge-right-cell:before {
    content: "\ee55";
    color: #3abfc3;
}


.ant-i-redo:after {
    content: "\ea59";
    color: #a45454;
}

.ant-i-transparent:before {
    content: "\ee62";
    color: transparent;
}


.ant-ii-table:before {
    content: "\f0ce";
}
.ant-ii-time:before {
    content: "\f017";
    color: #c6a65c;
}
.ant-ii-week:before {
    content: "\f784";
    color:#c6a65c;
}
.ant-ii-month:before {
    content: "\f073";
    color: #c6a65c;
}
.ant-ii-date:before {
    content: "\f133";
    color: #c6a65c;
}
.ant-ii-color:before {
    content: "\f53f";
    color:#76ddda
}
.ant-ii-link:before {
    content: "\f0c1";
    color:#2c2fc2;
}
.ant-ii-checkbox:before {
    content: "\f14a";
    color:#c1bbbb;
}
.ant-ii-range:before {
    content: "\f462";
    color:#3abfc3;
}
.ant-ii-textbox:before {
    content: "\f14b";
    color: #c1bbbb;
}


.ant-ii-transparent:before {
    content: "\f0ce";
    color:transparent;
}

.ant-ii-test:before {
    content: "\f0ce";
}