@font-face {
  font-family: "remixicon";
  src: url("./assets/fonts/remixicon.woff2?t=1590207869815") format("woff2"), url("./assets/fonts/remixicon.woff?t=1590207869815") format("woff"), url('./assets/fonts/remixicon.ttf?t=1590207869815') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./assets/fonts/fa-solid-900.woff2") format("woff2"), url("./assets/fonts/fa-solid-900.woff") format("woff"), url("./assets/fonts/fa-solid-900.ttf") format("truetype"), url("./assets/fonts/fa-solid-900.svg#fontawesome") format("svg");
}


[class^="ant-i-"], [class*=" ant-i-"] {
  font-size: 18pt;
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ant-ii-"], [class*=" ant-ii-"] {
  font-family: 'Font Awesome 5 Free' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-combobox {
  position: relative;
  display: inline-block;
  background-color: aqua;
  overflow: visible;
}

.image-combobox-image {
  border: 1px solid transparent;
  width: 100%;
  padding:5px;
  padding-bottom:0px;
  position:relative;
  background-color:white;
}
.image-combobox-image>img{
  width:100%;
  border:1px solid transparent;
}
.image-combobox-image > img:hover {
    border-color: black;
}

.image-combobox-list {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 99.99%;
  max-height: 200px;
  overflow: auto;
  z-index: 1000;
  border: 1px solid black;
  border-top: 0px;
}






/*
    scene editor
*/
.scene-editor {
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: auto;
  border:1px solid gray;
}

.scene-editor-image-container {
  position: absolute;
  resize: both;
  border: 1px solid transparent;
  height: 150px;
  width: 100px;
  overflow:auto;
  cursor:grab;
  z-index:0;
}
.scene-editor-image-container > IMG {
  width:100%;
  height:100%;
}

/*.scene-editor-image {
  cursor: grab;
  background-color: transparent;
  position: absolute;
  border: 1px solid transparent;
  resize: both;
  overflow:auto;
}
*/
.scene-editor-text {
  display: inline-block;
  user-select: none;
  -ms-user-select: none;
  top: 0px;
  left: 0px;
  position: absolute;
  cursor: grab;
  border:1px dashed transparent;
  z-index:0;
}
.scene-editor > [draggable='true']:hover {
  border: 1px dashed gray;
}

.scene-editor > [draggable='true']:focus {
  border: 1px dashed blue;
  outline: none;
}
  /*
    icons
*/
  .ant-ii-past {
    opacity: 0.5;
    color: forestgreen;
  }
.ant-ii-past:before {
  content: "\f0ea";
}
.ant-ii-past:hover {
  opacity: 1;
}












/*Иконки в toolbox для сцены*/
.ant-scene-toolbox {
}
.ant-scene-toolbox > i {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 18px;
  padding-top: 2px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  opacity:0.5;
}
.ant-scene-toolbox > i:hover{
    border-color:lightgray;
    opacity: 1;
}

/* save icon*/
.ant-ii-save {
  color: darkblue;
}
.ant-ii-save:before {
  content: "\f0c7";
}

/* insert text icon*/
.ant-ii-insert-text {
  color: black;
}
.ant-ii-insert-text:before {
  content: "\f15c";
}

/* insert image icon*/
.ant-ii-insert-image {
  color: red;
}
.ant-ii-insert-image:before {
  content: "\f1c5";
}


